<div ng-controller="SingleController">
        <div class="row">
                <div>
                        <h1>{{movies.title}}</h1>
                        <iframe class="video-container col-lg-12 col-md-12 col-xs-12" ng-src="{{url}}" height="500" width="1200" allowfullscreen="" frameborder="0"></iframe>
                        <h2 >{{movies.director}}</h2>
                        <h2>{{movies.runningtime}}</h2>
                        <h2>{{movies.releasedate}}</h2>
                </div>
        </div>
</div>